@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@layer base {
  #root,
  #whatsapp-extension-root {
    --foreground: #111b21;
    --background: #ffffff;
    --sidebar-top-bottom: #f0f2f5;
    --heading: #111b21;
    --sub-heading: #3b4a54;
    --button: #53bb80;
    --icon: #54656f;
    --input: #e5e7eb;
    --input-border: #e3e4e7;
    --border: #d1d7db;
    --color-mode: #ffffff;
    --active-color: #53bb80;
    --deactive-color: #ffffff;
    --tag: #ffffff;
    --active-tag: #ffffff;
    --user-icon: #111b21;
    --input-text-coor: #111b21;
    --disable-button-border: #e2e8f0;
  }
  #root.dark,
  #whatsapp-extension-root.dark {
    --foreground: #ffffff;
    --background: #111b21;
    --sidebar-top-bottom: #202c33;
    --heading: #ffffff;
    --sub-heading: #8696a0;
    --button: #53bb80;
    --icon: #8696a0;
    --input: #202c33;
    --input-border: #202c33;
    --border: #2f3b43;
    --color-mode: #000000;
    --active-color: #b5d337;
    --deactive-color: #ffffff;
    --tag: #29373f;
    --active-tag: #b5d337;
    --user-icon: #ffffff;
    --input-text-coor: #ffffff;
    --disable-button-border: #e2e8f0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
